<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account</title>
</head>
<body>
<h1>ACCOUNT PAGE</h1>
<p>Welcome {{username}}</p>
<p>User ID: {{userId}}</p>
<div>
    <p>Last 5 login time:</p>
    <ol>
        <li data-ng-repeat="item in lastLoginDetails">
            {{item.timestamp | date:'medium'}}
        </li>
    </ol>
</div>
<div>
    <a href="" data-ng-click="logout()">Log Out</a>
</div>
<div>
    <a href="" data-ng-click="socialVisualizationTab()">Social Visualization</a>
</div>
<div>
    <a href="" data-ng-click="stackOverFlowTab()">Click here to check the StackOverFlow Page</a>
</div>
<div>
    <p>The following user interactions are logged:</p>
    <ol>
        <li>Mouse Movement Trajectory</li>
        <li>Mouse Click</li>
        <li>Mouse Double Click</li>
        <li>Keyboard Press</li>
        <li>Text Copy</li>
        <li>Text Paste</li>
    </ol>
</div>
</body>
</html>