<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home</title>
</head>
<body>
<form>
    <div class="container">
        <div class="row"></div>
        <div class="row">
            <div class="col"></div>
            <div class="col">
                Enter Username: <br/>
                <input type="text" data-ng-model="username" autofocus> <br/>
                Enter Password: <br/>
                <input type="password" data-ng-model="password"> <br/><br/><br/>
                <button type="button" class="btn btn-primary" data-ng-click="login()">Log In</button>
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">Sign
                    Up
                </button>
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label>Account Name:</label>
                                        <input type="text" class="form-control" placeholder="Enter Account Name"
                                               data-ng-model="signUpAccName">
                                    </div>
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input type="password" class="form-control" placeholder="Enter Password"
                                               data-ng-model="signUpAccPass">
                                    </div>
                                    <div class="form-group">
                                        <label>Address</label>
                                        <input type="text" class="form-control" placeholder="Enter Address"
                                               data-ng-model="signUpAccAddr">
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" data-ng-click="signup()">Create Account
                                </button>
                                <br/>
                                <label data-ng-show="signUpError">Error occurred while signing up!</label>
                                <label data-ng-show="signUpSuccess">Successfully added new account!</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-ng-show="error">
                    <h1>INCORRECT USERNAME OR PASSWORD</h1>
                </div>
            </div>
            <div class="col"></div>
        </div>
        <div class=row"></div>
    </div>
</form>
</body>
</html>