<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home</title>

    <style>

        #incorrectCredentials {
            position: relative;
            top: 10%;
        }

        body {
            background: url("../images/background.jpg") no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

    </style>

</head>
<body>
<div>
    <div class="container">
        <div class="row"></div>
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <form>
                    <div class="form-group">
                        <label>Enter Account Name:</label>
                        <input type="text" data-ng-model="username" class="form-control"
                               placeholder="Enter Account Name">
                    </div>
                    <div class="form-group">
                        <label>Enter Password:</label>
                        <input type="password" data-ng-model="password" class="form-control"
                               placeholder="Enter Password">
                    </div>
                    <button class="btn btn-primary" data-ng-click="login()">Log In</button>
                    <button class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">Sign Up</button>
                </form>

                <div class="modal fade" id="exampleModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Sign Up</h5>
                                <button type="button" class="close" data-dismiss="modal">
                                    <span>&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label>Account Name:</label>
                                        <input type="text" class="form-control" placeholder="Enter Account Name"
                                               data-ng-model="signUpAccName">
                                    </div>
                                    <div class="form-group">
                                        <label>Password</label>
                                        <input type="password" class="form-control" placeholder="Enter Password"
                                               data-ng-model="signUpAccPass">
                                    </div>
                                    <div class="form-group">
                                        <label>Address</label>
                                        <input type="text" class="form-control" placeholder="Enter Address"
                                               data-ng-model="signUpAccAddr">
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" data-ng-click="signup()">Create Account
                                </button>
                                <div>
                                    <label data-ng-show="signUpError">Error occurred while signing up!</label>
                                    <label data-ng-show="signUpSuccess">Successfully added new account!</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-ng-show="error" id="incorrectCredentials">
                    <div class="alert alert-danger">
                        Incorrect Account Name or Password.
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
        <div class=row"></div>
    </div>
</div>
</body>
</html>