<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Visualization</title>

    <style>

        body {
            background: url("../images/background.jpg") no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

    </style>

</head>
<body>
<div>
    <div class="container">
        <div class="row">
            <div class="col-11">
                <div class="alert alert-primary">
                    <h1>User Behavior Visualization</h1>
                    Welcome {{username}}
                </div>
            </div>
            <div class="col-1">
                <div>
                    <h3><a href="" class="badge badge-pill badge-primary" data-ng-click="accountTab()">Back To Account
                        Page</a></h3>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-6">
                <h3 style="text-align: left">Top 10 Keyboard Pressed Characters</h3>
                <div id="graph1"></div>
            </div>
            <div class="col-6">
                <br/>
                <br/>
                <div>
                    <ul class="list-group" style="text-align: justify">
                        <li class="list-group-item">
                            This is a histogram depicting the top 10 most popular keys used by the user on the keyboard.
                        </li>
                        <li class="list-group-item">
                            This information can be used to provide the user an adaptive experience in the form of
                            keyboard shortcuts etc.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-6">
                <h3 style="text-align: left">Time Spent (in secs) by the User in the Application</h3>
                <div id="graph2" class="textCenterAlign"></div>
            </div>
            <div class="col-6">
                <br/>
                <br/>
                <br/>
                <div>
                    <ul class="list-group" style="text-align: justify">
                        <li class="list-group-item">
                            This is a box plot that represents the amount of time the user spends (in seconds) on this
                            application.
                        </li>
                        <li class="list-group-item">
                            This information is based on the login and logout time of the user.
                        </li>
                        <li class="list-group-item">
                            This behavior can be monitored to understand the user experience on the application.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-6">
                <h3 style="text-align: left">Mouse Trajectory Heat Map</h3>
                <div id="graph3" class="textCenterAlign"></div>
            </div>
            <div class="col-6">
                <br/>
                <br/>
                <div>
                    <ul class="list-group" style="text-align: justify">
                        <li class="list-group-item">
                            This is a heat map that shows the sections of the web page that the user is most engaged in.
                        </li>
                        <li class="list-group-item">
                            This information is based on the mouse movement trajectory.
                        </li>
                        <li class="list-group-item">
                            One can leverage this behavior to identify the sections of the web page that are more
                            appealing to the user and vise versa.
                        </li>
                        <li class="list-group-item">
                            This behavior can be used to provide an adaptive experience to the user by placing the
                            important sections of the web page in the areas of high interest to the user.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-6">
                <h3 style="text-align: left">User Actions Breakdown</h3>
                <div id="graph4" class="textCenterAlign"></div>
            </div>
            <div class="col-6">
                <br/>
                <br/>
                <div>
                    <ul class="list-group" style="text-align: justify">
                        <li class="list-group-item">
                            This is a pie chart that represents the breakdown of all the captured actions of the user on
                            the application.
                        </li>
                        <li class="list-group-item">
                            This behavior can be used to profile the user and provide a suitable adaptive experience.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-6">
                <h3 style="text-align: left">Top 10 Keywords Based on Copy Action</h3>
                <div id="graph5" class="textCenterAlign"></div>
            </div>
            <div class="col-6">
                <br/>
                <br/>
                <div>
                    <ul class="list-group" style="text-align: justify">
                        <li class="list-group-item">
                            This is a bar chart that represents the keywords of most interest to the user based on the
                            "text-copy" action.
                        </li>
                        <li class="list-group-item">
                            This behavior can be used to provide the user recommendations in the form of categories of
                            interest.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <br/>
        <div class=row"></div>
    </div>
</div>
</body>
</html>