<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Visualization</title>

    <style>

        body {
            background: url("../images/background.jpg") no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        .textCenterAlign {
            text-align: center;
        }

    </style>

</head>
<body>
<div>
    <div class="container textCenterAlign">
        <div class="row">
            <div class="col-11">
                <div class="alert alert-primary">
                    <h1>User Behavior Visualization</h1>
                    Welcome {{username}}
                </div>
            </div>
            <div class="col-1">
                <div>
                    <h3><a href="" class="badge badge-pill badge-primary" data-ng-click="accountTab()">Back To Account
                        Page</a></h3>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-8">
                <h3 style="text-align: left">Key Press Frequency</h3>
                <div id="graph1" class="textCenterAlign"></div>
            </div>
            <div class="col-4">
                <div>
                    Graph explanation 1
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-8">
                <h3 style="text-align: left">Graph Heading 2</h3>
                <div id="graph2" class="textCenterAlign"></div>
            </div>
            <div class="col-4">
                <div>
                    Graph explanation 2
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-8">
                <h3 style="text-align: left">Graph Heading 3</h3>
                <div id="graph3" class="textCenterAlign"></div>
            </div>
            <div class="col-4">
                <div>
                    Graph explanation 3
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-8">
                <h3 style="text-align: left">Graph Heading 4</h3>
                <div id="graph4" class="textCenterAlign"></div>
            </div>
            <div class="col-4">
                <div>
                    Graph explanation 4
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-8">
                <h3 style="text-align: left">Graph Heading 5</h3>
                <div id="graph5" class="textCenterAlign"></div>
            </div>
            <div class="col-4">
                <div>
                    Graph explanation 5
                </div>
            </div>
        </div>
        <br/>
        <div class=row"></div>
    </div>
</div>
</body>
</html>